
<!-- Modal -->
<div class="modal fade" {% block modal-id %} id='addModal' {% endblock modal-id %} tabindex="-1"
    aria-labelledby="addModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addModalLabel">
                    {% block modal-title %} <i></i> &nbsp; &nbsp; Adicionar Despesa{% endblock modal-title %}
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="POST" {% block action %} action='/add_despesa' {% endblock action %} autocomplete="off">
                {% csrf_token %}
                <div class="modal-body">

                    {% block Value-id %}{% endblock Value-id %}

                    <!-------------------- Input Nome Despesa --------------------->
                    <div class="input-group mb-3">
                        <span class="btn border-secondary bg-light side-label"><i class='bx bx-add-to-queue'></i></span>
                        <input type="text" class="form-control" name="nome_despesa" maxlength="40"
                            placeholder="Nome da Despesa" required {% block Value-Nome %}{% endblock Value-Nome %}>
                    </div>


                     <!-------------------- Input Quantidade Despesa --------------------->
                    <div class="input-group mb-3">
                        <span class="btn border-secondary bg-light side-label"><i class='bx bxs-package'></i></span>
                        <input type="text" class="form-control" name="quantidade_despesa" maxlength="40"
                            placeholder="Quantidade da Despesa" required {% block Value-Quantidade %} {% endblock Value-Quantidade %}>
                    </div>


                    <!-------------------- Input Custo Despesa --------------------->
                    <div class="input-group mb-3">
                        <span class="btn border-secondary bg-light side-label"><i class='bx bxs-dollar-circle'></i></span>
                        <input type="text" class="form-control" name="custo" maxlength="40"
                            placeholder="Custo da Despesa" required {% block Value-Custo %}{% endblock Value-Custo %}>
                    </div>


                    <!-------------------- Input Tipo Gasto Despesa --------------------->
                    <div class="input-group mb-3">
                        <label>
                            <span class="btn border-secondary bg-light side-label"
                                style="border-radius: 4px 0px 0px 4px ;">
                                <i class='bx bxs-hourglass'></i>
                            </span>
                        </label>
                        <select class="form-select" name="tipo_gasto" required>

                            {% block option %}
                            <option value='' hidden >Selecione o Tipo de Gasto</option>
                            {% endblock option %}

                            <option>Semanal</option>
                            <option>Mensal</option>
                            <option>Esporádico</option>

                        </select>
                    </div>


                    <!-------------------- Input Data Despesa --------------------->

                    
                    <div class="input-group mb-3">
                       <span  class="btn border-secondary bg-light side-label" id="button-data" onclick="" ><i class='bx bxs-calendar'></i></span> 
                        <input type="text" class="form-control" name="data_atualizacao"  maxlength="40"
                            placeholder="Data de Adição (D/M/A (H))" required {% block Value-Data %} id="data"{% endblock Value-Data %}>
                    </div>
                    

                    <!-------------------- Input Nota Despesa --------------------->
                    <div class="form-group">
                        <textarea class="form-control" name="nota_despesa" rows="10" maxlength="1000"
                            placeholder="Observação opcional" {% block Nota %}{% endblock Nota %}></textarea>
                    </div>

                    <div class="mt-4" style="width: 100%;">

                        <button type="submit" class="btn btn-secondary mb-3">
                            {% block btn-action %}<i class='bx bxs-add-to-queue'></i> &nbsp;&nbsp; Adicionar
                            Despesa{% endblock btn-action %}
                        </button>

                        <button type="reset" class="btn btn-outline-dark mb-3 ms-2" style="width: 50px;"
                            title="Resetar">
                            <i class='bx bx-reset'></i>
                        </button>

                        <a href="{% url 'gastos' %}" type="button" class="btn btn-outline-dark mb-3 ms-2"
                            style="width: 50px;" title="Fechar">
                            <i class='bx bx-window-close'></i>
                        </a>
                    </div>



                </div>
            </form>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.1.min.js"
    integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous">
</script>

<!-- <script>
    // let d = new Date
    // let day = d.getDate()
    // let month = d.getMonth()
    // let year = d.getFullYear()
    // let hours = d.getHours()
    // let minutes = d.getMinutes()

    // let date = `${day}-${month + 1}-${year} ${hours}-${minutes}`

    Number.prototype.padLeft = function (base, chr) {
        let len = (String(base || 10).length - String(this).length) + 1;
        return len > 0 ? new Array(len).join(chr || '0') + this : this;
    }


    var d = new Date,
        dformat = [d.getFullYear(), (d.getMonth() + 1).padLeft(),
        d.getDate().padLeft(),
        ].join('-') + ' ' +
            [d.getHours().padLeft(),
            d.getMinutes().padLeft()].join(':');


    document.getElementById('data').value = dformat
</script> 
 -->

