<!-- Modal -->
<div class="modal fade" {% block modal-id %} id="comboModal" {% endblock modal-id %} tabindex="-1" aria-labelledby="comboModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title fs-5" id="comboModalLabel">
                    {% block modal-title %} <i class='bx bx-package' style="position: relative; top: 3px; font-size: 22px;"></i>&nbsp;&nbsp;Criar Combo {% endblock modal-title %}
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="POST" {% block action %} action="/add_produto" {% endblock action %} autocomplete="off">

                {% csrf_token %}

                <div class="modal-body">
                    
                    <!------------------ ID ------------------>
                    {% block Value-id %}{% endblock Value-id %}


                    <div class="input-group mb-3">
                        <span class="btn border-secondary bg-ligth side-label"><i class='bx bx-barcode'></i></span>
                        <input type="text" class="form-control" name="nome_combo" maxlength="40" placeholder="Nome do Combo" required {% block Value-nome %}{% endblock Value-nome %}>
                    </div>

					<div id="select-itens">
					</div>

					
                    <div class="input-group mb-3">
                        <span class="btn border-secondary bg-ligth side-label"><i class='bx bxs-bar-chart-alt-2'></i></span>
                        <input type="text" class="form-control" name="nome_combo" maxlength="40" placeholder="Preço do Combo" required>
                    </div>

                    <div class="mt-4" style="width: 100%;">
                        <button type="submit" class="btn btn-secondary mb-3">
                            {% block btn-action %}<i class='bx bxs-add-to-queue'></i>&nbsp;&nbsp;Adicionar Combo{% endblock btn-action %}
                        </button>

                        <button type="reset" class="btn btn-outline-dark mb-3 ms-2" style="width: 50px;" title="Resetar" >
                            <i class='bx bx-reset' ></i>
                        </button>

                        <a href="{% url 'estoque' %}" class="btn btn-outline-dark mb-3 ms-2" style="width: 50px;" title="Fechar" >
                            <i class='bx bx-window-close' ></i>
                        </a>

                    </div>

                </div>
            </form>
        </div>
    </div>
</div>




















<script src="https://code.jquery.com/jquery-3.6.1.min.js"
    integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous">
    </script>

<script>
	let i = 1
	while(i < 4){
		if(i != 1){
			$('#select-itens').append(` 
			<div class='input-group mb-3' style='display: none' id='produto-${i}'>
				<span class='btn border-secondary bg-ligth side-label'><i class='bx bxs-bar-chart-alt-2'></i></span>
				<select type='text' class='form-control' name='tipo_produto' maxlength='40' placeholder='Quantidade do Produto' required>
					<option value=''>---</option>
					<option value=''>Salgadinho</option>
					<option value=''>Refrigerante</option>
				</select>
			</div>`)
		} else {
			$('#select-itens').append(` 
			<div class='input-group mb-3' id='produto-${i}'>
				<span class='btn border-secondary bg-ligth side-label'><i class='bx bxs-bar-chart-alt-2'></i></span>
				<select type='text' class='form-control' name='tipo_produto' maxlength='40' placeholder='Quantidade do Produto' required>
					<option value=''>---</option>
					<option value=''>Salgadinho</option>
					<option value=''>Refrigerante</option>
				</select>
				<input class='form-control'/>
			</div>`)
		}
		$(`#produto-${i}`).click(function(){

		})
			i++
	}
</script>
