<!-- Modal -->
<div class="modal fade" {% block modal-id %} id='addModal' {% endblock modal-id %} tabindex="-1"
    aria-labelledby="addModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addModalLabel">
                    {% block modal-title %} <i></i> &nbsp; &nbsp; Despesa Adicionada{% endblock modal-title %}
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="POST" {% block action %} action="{% url 'estoque-adicionar' %}" {% endblock action %}>
                {% csrf_token %}
                <div class="modal-body">
                {% block value-id %}
                {% endblock value-id %}
                
            
                <div class="form-group">
                    <label for="nome_produto">Nome do Produto</label>
                    <input type="text" class="form-control" id="nome_produto" name="nome_produto" placeholder="Ex. Coxinha"
                        value="{{ produto.nome_produto }}" {% block Value-Nome %}{% endblock Value-Nome %}>
                </div>
                <div class="form-group">
                    <label for="quantidade_produto">Quantidade</label>
                    <input type="text" class="form-control" id="quantidade_produto" placeholder="Unidades de Salgadinho"
                        name="quantidade_produto" value="{{ produto.quantidade_produto }}" {% block Value-Quantidade %} {% endblock Value-Quantidade %}>
                </div>
                <!-- <div class="form-group">
                    <label for="custo_venda">Custo/Valor</label>
                    <input type="text" class="form-control" id="custo_venda" placeholder="Custo/Venda" name="custo_venda"
                        value="{{ produto.custo_venda }}">
                </div> -->
                <!-- <div class="form-group">
                    <label for="fornecedor">Fornecedor</label>
                    <input type="text" class="form-control" id="fornecedor" placeholder="Ex: Fábrica Lanche Feliz"
                        name="fornecedor" value="{{ produto.fornecedor }}">
                </div> -->
                <div class="form-group">
                    <label for="data_adicao">Data Adição</label>
                    <input type="text" class="form-control" id="data" placeholder="dd-mm-aaaa hh-mm"
                        name="data_adicao" {% block Value-Data %} {% endblock Value-Data %}>
                </div>
                <div class="form-button">
                    <button type="submit" class="btn btn-primary">{% block btn-action %} Salvar Item {% endblock btn-action %}</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.1.min.js"
    integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous">
    </script>

<script>
    // let d = new Date
    // let day = d.getDate()
    // let month = d.getMonth()
    // let year = d.getFullYear()
    // let hours = d.getHours()
    // let minutes = d.getMinutes()

    // let date = `${day}-${month + 1}-${year} ${hours}-${minutes}`

    Number.prototype.padLeft = function (base, chr) {
        let len = (String(base || 10).length - String(this).length) + 1;
        return len > 0 ? new Array(len).join(chr || '0') + this : this;
    }


    var d = new Date,
        dformat = [d.getFullYear(), (d.getMonth() + 1).padLeft(),
        d.getDate().padLeft(),
        ].join('-') + ' ' +
            [d.getHours().padLeft(),
            d.getMinutes().padLeft()].join(':');


    document.getElementById('data').value = dformat
</script>