{% load static %}

<!DOCTYPE html>
<html lang="pt-br">

<link>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" href="{% static 'css/styles4.css' %}">

<link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">

</head>

<div>
    <div>
        <h3>Faça seu cadastro aqui</h3>

        <form method="POST" action="estoque/adicionar">
            {% csrf_token %}

            {% block value-id %}
            {% endblock value-id %}

            <div class="form-group">
                <label for="nome_produto">Email address</label>
                <input type="text" class="form-control" id="nome_produto" name="nome_produto"
                    placeholder="Nome do Produto" required>
            </div>
            <div class="form-group">
                <label for="quantidade_produto">Qntd</label>
                <input type="text" class="form-control" id="quantidade_produto" placeholder="Quantidade"
                    name="quantidade_produto" required>
            </div>
            <div class="form-group">
                <label for="custo_venda">C/V</label>
                <input type="text" class="form-control" id="custo_venda" placeholder="Custo/Venda" name="custo_venda"
                    required>
            </div>
            <div class="form-group">
                <label for="fornecedor">Fornecedor</label>
                <input type="text" class="form-control" id="fornecedor" placeholder="ff" name="fornecedor" required>
            </div>
            <div class="form-group">
                <label for="data_adicao">Data Adição</label>
                <input type="text" class="form-control" id="data_adicao" placeholder="dd/mm/aaaa" name="data_adicao"
                    required>
            </div>
            <div class="form-button">
                <button type="submit" class="btn btn-primary"> Salvar Item</button>
            </div>
        </form>

    </div>
</div>