<!-- Modal -->
<div class="modal fade" {% block modal-id %} id='addModal' {% endblock modal-id %} tabindex="-1"
    aria-labelledby="addModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addModalLabel">
                    {% block modal-title %} <i></i> &nbsp; &nbsp; Adicionar Produto{% endblock modal-title %}
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="POST" {% block action-2 %} action='/add_produto' {% endblock action-2 %} autocomplete="off">
                {% csrf_token %}
                <div class="modal-body">

                    {% block Value-id %}{% endblock Value-id %}

                    <!-------------------- Input Nome Produto --------------------->
                    <div class="input-group mb-3">
                        <span class="btn border-secondary bg-light side-label"><i class='bx bx-add-to-queue'></i></span>
                        <input type="text" class="form-control" name="nome_produto" maxlength="40"
                            placeholder="Nome do Produto" required {% block Value-Nome_produto %}{% endblock Value-Nome_produto %}>
                    </div>


                     <!-------------------- Input Quantidade Produto --------------------->
                    <div class="input-group mb-3">
                        <span class="btn border-secondary bg-light side-label"><i class='bx bxs-package'></i></span>
                        <input type="text" class="form-control" name="quantidade_produto" maxlength="40"
                            placeholder="Quantidade do Produto (Em unidades)" required {% block Value-Quantidade_produto %} {% endblock Value-Quantidade_produto %}>
                    </div>


                    <!-------------------- Input Data Produto --------------------->
<!--                      <div class="input-group mb-3">
                        <span class="btn border-secondary bg-light side-label"><i class='bx bxs-calendar'></i></span>
                        <input type="text" class="form-control" name="data" maxlength="40"
                            placeholder="Data de Adição" required {% block Data-Produto %}{% endblock Data-Produto  %}>
                    </div>  -->


                    <!-------------------- Input Nota Produto --------------------->
                     <div class="form-group">
                        <textarea class="form-control" name="nota_produto" rows="10" maxlength="1000"
                            placeholder="Observação opcional" {% block Nota_produto %}{% endblock Nota_produto %}></textarea>
                    </div> 

                    <div class="mt-4" style="width: 100%;">

                        <button type="submit" class="btn btn-secondary mb-3">
                            {% block btn-action %}<i class='bx bxs-add-to-queue'></i> &nbsp;&nbsp; Adicionar
                            Produto{% endblock btn-action %}
                        </button>

                        <button type="reset" class="btn btn-outline-dark mb-3 ms-2" style="width: 50px;"
                            title="Resetar">
                            <i class='bx bx-reset'></i>
                        </button>

                        <a href="{% url 'estoque' %}" type="button" class="btn btn-outline-dark mb-3 ms-2"
                            style="width: 50px;" title="Fechar">
                            <i class='bx bx-window-close'></i>
                        </a>
                    </div>



                </div>
            </form>
        </div>
    </div>
</div>











<script src="https://code.jquery.com/jquery-3.6.1.min.js"
    integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous">
    </script>

<script>
    // let d = new Date
    // let day = d.getDate()
    // let month = d.getMonth()
    // let year = d.getFullYear()
    // let hours = d.getHours()
    // let minutes = d.getMinutes()

    // let date = `${day}-${month + 1}-${year} ${hours}-${minutes}`

    Number.prototype.padLeft = function (base, chr) {
        let len = (String(base || 10).length - String(this).length) + 1;
        return len > 0 ? new Array(len).join(chr || '0') + this : this;
    }


    var d = new Date,
        dformat = [d.getFullYear(), (d.getMonth() + 1).padLeft(),
        d.getDate().padLeft(),
        ].join('-') + ' ' +
            [d.getHours().padLeft(),
            d.getMinutes().padLeft()].join(':');


    document.getElementById('data').value = dformat
</script>