{% extends 'cadastro/add.html' %}

<!-- Modal ID -->
{% block modal-id %} id="editModal{{ produto.pk }}" {% endblock modal-id %}

<!-- Modal Title -->
{% block modal-title %} <i class='bx bxs-edit' ></i>&nbsp;&nbsp;  Editar Produto {% endblock modal-title %}

<!-- Form Action -->
{% block action %} action="/edit_produto" {% endblock action %}

<!-- Button Action -->
{% block btn-action %}<i class='bx bxs-edit-alt'></i>&nbsp;&nbsp; Editar Produto{% endblock btn-action %}



<!---------------- INPUTS ---------------->

{% block Value-id %}
<div class="input-group mb-3">
    <span class="btn border-secondary bg-ligth side-label"><i class='bx bx-barcode'></i></span>
    <input type="text" class="form-control" value="{{ produto.id }}" name="id" readonly>
</div>

{% endblock Value-id %}


<!-- Nome -->
{% block Value-nome %} value="{{ produto.nome_produto }}" {% endblock Value-nome %}

<!-- Quantidade -->
{% block Value-quantidade %} value="{{ produto.quantidade_produto }}" {% endblock Value-quantidade %}

{% block Value-tipo %} value="{{ produto.tipo_produto }}" {% endblock Value-tipo %}

<!-- Custo -->
{% block Value-custo %} value="{{ produto.custo }}" {% endblock Value-custo %}

<!-- Nota -->
{% block nota %}{{ produto.nota_produto }}{% endblock nota %}
