{% extends 'cadastro/add.html' %}

<!-- Modal ID -->
{% block modal-id %} id='editModal{{ produto.id }}' {% endblock modal-id %}

<!-- Modal Title -->
{% block modal-title %} <i></i> &nbsp; &nbsp; Despesa Editada{% endblock modal-title %}

<!-- Form Action -->
{% block action %} action='{% url 'estoque-editar' %}' {% endblock action %}

<!-- Button Action -->
{% block btn-action %}<i class='bx bxs-add-to-queue'></i> &nbsp;&nbsp; Salvar Mudanças{% endblock btn-action %}

<!-- INPUTs -->

<!-- Edit Input Genérico -->
{% block value-id %}
<div class="form-group">
    <label for="id">Código</label>
    <input type="text" class="form-control" value="{{ produto.id }}" name="id" readonly>
</div>
{% endblock value-id %}

<!-- Edit Input Nome Despesa  -->
{% block Value-Nome %} value="{{ produto.nome_produto }}" {% endblock Value-Nome %}

<!-- Edit Input Quantiade Despesa  -->
{% block Value-Quantidade %} value="{{ produto.quantidade_produto }}" {% endblock Value-Quantidade %}

<!-- Edit Input Data Despesa  -->
{% block Value-Data %} value="{{ produto.data_adicao}}" id="d"{% endblock Value-Data %}

