{% extends 'paginas/modelo.html' %}
{% load static %}

{% block titulo %}
<title>Estoque</title>
<link rel="icon" type="image/x-icon" href="{% static 'imagens/game-solid-26.png' %}">
{% endblock %}

{% block conteudo %}

<div class="home_content" style="top: 30px">
    <div class="conteudo_pagina">

        <div class="container">
            <div class="buttons_area">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addModal">
                    Adicionar novo produto
                </button>

                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#loteModal">
                    Edição por tipo
                </button>
            </div>


            <table class="table table-bordered" id="table" style="text-align: center ;">
                <thead class="table-success">
                    <tr>
                        <th style="width: 7%;">Código</th>
                        <th style="width: 20%;">Produto</th>
                        <th style="width: 10%;">Unidades</th>
                        <th style="width: 8%;">Preço</th>
                        <th style="width: 15%;">Data de Adição</th>
                        <th style="width: 5%;">Editar</th>
                        <th style="width: 5%;">Deletar</th>
                    </tr>
                </thead>


                {% for produto in produtos %}


                <tr>
                    <td>{{ produto.id }}</td>
                    <td>{{ produto.nome_produto }} <a class="text-center" title="Nota Produto" data-bs-toggle="modal" data-bs-target="#notaModal{{ produto.pk }}"><i class='bx bx-note'></i></a></td>
                    <td>{{ produto.quantidade_produto }}</td>
                    <td>R$ {{ produto.custo |floatformat:2 }}</td>
                    <td>{{ produto.data_adicao_prod | date:'d/m/Y (H:i)' }}</td>

                    <td>
                        <a class="btn btn-sucess text-center" title="Editar Produto" data-bs-toggle="modal"
                            data-bs-target="#editModal{{ produto.pk }}">
                            <box-icon name='edit'></box-icon>
                        </a>
                    </td>
                    <td>
                        <a class="btn text-center" title="Deletar Produto" data-bs-toggle="modal"
                            data-bs-target="#deleteModal{{ produto.pk }}">
                            <box-icon name='trash'></box-icon>
                        </a>
                    </td>
                </tr>

                <!-- Modal para descrição produto -->
                <div class="modal fade" id="notaModal{{ produto.pk }}" tabindex="-1" aria-labelledby="notaModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="notaModalLabel">Descrição: {{ produto.nome_produto }}</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          <p>{{ produto.nota_produto }}</p>
                        </div>
                      </div>
                    </div>
                  </div>

                {% include 'cadastro/edit.html' %}

                {% include 'cadastro/edit-lote.html' %}


                <!-- Modal para deletar produto -->

                <div class="modal fade" id="deleteModal{{ produto.pk }}" tabindex="-1"
                    aria-labelledby="deleteModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="deleteModalLabel"><i class='bx bxs-folder-minus'></i>&nbsp;&nbsp; Deletar Produto</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="tex-center text-danger"></div>
                                <div class="tex-center text-danger">
                                    <span>Você deseja deletar esse produto?</span>
                                    <div class="text-dark mt-3 mb-2">Despesa: <strong>{{ produto.nome_produto }}</strong></div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary btn-sm"
                                    data-bs-dismiss="modal">Cancelar</button>
                                <a href="/delete_produto/{{ produto.id }}"
                                    class="btn btn-outline-danger btn-sm">Deletar</a>
                            </div>
                        </div>
                    </div>
                </div>


                {% endfor %}

            </table>

        </div>

        <script src="js/script-tabela-2.js" ></script>

        <!-- Tags para incluir Modal de add Produtos -->

        {% include 'cadastro/add.html' %}


        {% for message in messages %}
            {% if message.tags == 'success' %}
                <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

                <script>
                    var m = "{{ message }}";
                    swal("Perfeito!", m, "success");
                </script>

            {% endif %}
        {% endfor %}





    </div>
</div>




{% endblock %}
