{% extends 'paginas/modelo.html' %}
{% load static %}

{% block titulo %}
<title>Gastos</title>
<link rel="icon" type="image/x-icon" href="{% static 'imagens/game-solid-26.png' %}">
{% endblock %}

{% block conteudo %}

<div class="home_content" style="top: 30px">
    <div class="conteudo_pagina">

        <div class="container">
            <div class="buttons_area d-flex justify-content-between align-content-end">
                <div>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addModal">
                        Adicione Despesa
                    </button>
                    <a class="btn btn-primary" href="finalizar-gastos">
                        Finalizar Despesas
                    </a>
                </div>
                <div>
                    <div class="input-group mb-3">
                        <span class="btn border-secondary bg-ligth side-label"><i class='bx bx-barcode'></i></span>
                        <span class="form-control" >Gasto Mensal: R${{gastos.mensal}}</span>
                    </div>
                    <div class="input-group mb-3">
                        <span class="btn border-secondary bg-ligth side-label"><i class='bx bx-barcode'></i></span>
                        <span class="form-control" >Gasto Semanal: R${{gastos.semanal}}</span>
                    </div>
                    <div class="input-group mb-3">
                        <span class="btn border-secondary bg-ligth side-label"><i class='bx bx-barcode'></i></span>
                        <span class="form-control" >Gasto Esporadico: R${{gastos.esporadico}}</span>
                    </div>
                </div>
            </div>

            <table class="table table-bordered" id="example" style="text-align: center ;">
                <thead class="table-success">
                    <tr>

                        <th style="width: 20%;">Despesa</th>
                        <th style="width: 10%;">Quantidade</th>
                        <th style="width: 10%;">Custo</th>
                        <th style="width: 20%;">Tipo de Gasto</th>
                        <th style="width: 20%;">Data de Adição</th>
                        <th style="width: 10%;">Editar</th>
                        <th style="width: 10%;">Deletar</th>
                    </tr>
                </thead>


                {% for despesa in despesas %}
                <tr>

                    <td>{{ despesa.nome_despesa }} <a class="text-center" title="Nota Produto" data-bs-toggle="modal" data-bs-target="#notaModal{{ despesa.id }}"><i class='bx bx-note'></i></a></td>
                    <td>{{ despesa.quantidade_despesa }}</td>
                    <td>R$ {{ despesa.custo |floatformat:2 }}</td>
                    <td>{{ despesa.tipo_gasto}}</td>
                    <td>{{ despesa.data_adicao_desp | date:'d/m/Y (H:i)' }}</td>

                    <td>
                        <a class="btn btn-sucess text-center" title="Editar Despesa" data-bs-toggle="modal"
                            data-bs-target="#editModal{{ despesa.id }}">
                            <box-icon name='edit'></box-icon>
                        </a>
                    </td>
                    <td>
                        <a class="btn text-center" title="Deletar Despesa" data-bs-toggle="modal"
                            data-bs-target="#deleteModal{{ despesa.id }}">
                            <box-icon name='trash'></box-icon>
                        </a>
                    </td>
                </tr>

                {% include 'cadastro/edit-despesa.html' %}

                <!-- Modal para descrição produto -->

                <div class="modal fade" id="notaModal{{ despesa.id }}" tabindex="-1" aria-labelledby="notaModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="notaModalLabel">Descrição: {{ despesa.nome_produto }}</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p>{{ despesa.nota_despesa }}</p>
                        </div>
                        </div>
                    </div>
                    </div>

                <!-- Modal para deletar despesa -->

                <div class="modal fade" id="deleteModal{{ despesa.id }}" tabindex="-1"
                    aria-labelledby="deleteModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="deleteModalLabel"><i class='bx bxs-folder-minus'></i>&nbsp;&nbsp;Deletar Despesa</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="tex-center text-danger"></div>
                                <div class="tex-center text-danger">
                                    <span>Você deseja deletar essa despesa?</span>
                                    <div class="text-dark mt-3 mb-2">Despesa: <strong>{{ despesa.nome_despesa
                                            }}</strong></div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary btn-sm"
                                    data-bs-dismiss="modal">Cancelar</button>
                                <a href="/delete_despesa/{{ despesa.id }}"
                                    class="btn btn-outline-danger btn-sm">Deletar</a>
                            </div>
                        </div>
                    </div>
                </div>



                {% endfor %}

            </table>

        </div>

        <script src="{% static 'js/script-tabela.js' %}"></script>

        <!-- Tags de para incluir Modal de add Despesas -->

        {% include 'cadastro/add-despesa.html' %}




        {% for message in messages %}
            {% if message.tags == 'success' %}
                <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

                <script>
                    var m = "{{ message }}";
                    swal("Perfeito !", m, "success");
                </script>

            {% endif %}
        {% endfor %}


        






    </div>
</div>




{% endblock %}
