{% extends 'paginas/modelo.html' %}
{% load static %}

{% block titulo %}
<title>Gastos</title>
<link rel="icon" type="image/x-icon" href="{% static 'imagens/game-solid-26.png' %}">
{% endblock %}

{% block conteudo %}

<div class="home_content" style="top: 30px">
    <div class="conteudo_pagina">

        <div class="container">

            <br><br><br>

            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addModal">
                Adicione Despesa
            </button>

            <br><br><br>

            <table class="table table-bordered" id="example" style="text-align: center ;">
                <thead class="table-success">
                    <tr>
                        <th style="display: none;">ID</th>
                        <th>Despesa</th>
                        <th>Quantidade</th>
                        <th>Custo</th>
                        <th>Tipo de Gasto</th>
                        <th>Data de Adição</th>
                        <th>Editar</th>
                        <th>Deletar</th>
                    </tr>
                </thead>


                {% for despesa in despesas %}
                <tr>
                    <td style="display: none;">{{ despesa.id }}</td>
                    <td>{{ despesa.nome_despesa }}</td>
                    <td>{{ despesa.quantidade_despesa }}</td>
                    <td>{{ despesa.custo }}</td>
                    <td>{{ despesa.tipo_gasto}}</td>
                    <td>{{ despesa.data_atualizacao | date:'d/m/Y (H:i)' }}</td>

                    <td>
                        <a class="btn btn-sucess text-center" title="Editar Despesa" data-bs-toggle="modal"
                            data-bs-target="#editModal{{ despesa.id }}">
                            <box-icon name='edit'></box-icon>
                        </a>
                    </td>
                    <td>
                        <a class="btn text-center" title="Deletar Despesa" data-bs-toggle="modal"
                        data-bs-target="#deleteModal{{ despesa.id }}">
                            <box-icon name='trash'></box-icon>
                        </a>
                    </td>
                </tr>

                {% include 'cadastro/edit-despesa.html' %}

                <!-- Modal para deletar despesas -->

                <div class="modal fade" id="deleteModal{{ despesa.id }}" tabindex="-1" aria-labelledby="deleteModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="deleteModalLabel"><i></i>Deletar Despesa</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="tex-center text-danger"></div>
                                <div class="tex-center text-danger">
                                    <span>Você deseja <strong>deletar</strong> essa despesa?</span>
                                    <div class="text-dark mt-3 mb-2">Despesa: <strong>{{ despesa.nome_despesa }}</strong></div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary btn-sm"
                                    data-bs-dismiss="modal">Cancelar</button>
                                <a href="/delete_despesa/{{ despesa.id }}"
                                    class="btn btn-outline-danger btn-sm">Deletar</a>
                            </div>
                        </div>
                    </div>
                </div>



                {% endfor %}

            </table>

        </div>


        <script>
            $("#example").DataTable({
    
                paging: true,
                pageLength: 10,
                lengthChange: true,
                autoWidth: true,
                searching: true,
                bInfo: true,
                bSort: true,
    
                "columnDefs": [{
                    "targets": [6,7],
                    "orderable": false,
    
                }]
                
            })
    
        </script>



        <!-- Tags de para incluir Modal de add e del de Despesas -->

        {% include 'cadastro/add-despesa.html' %}




        {% for message in messages %}
        {% if message.tags == 'success' %}
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

        <script>
            var m = "{{ message }}";
            swal("Perfeito !", m, "success");


        </script>

        {% endif %}
        {% endfor %}









    </div>
</div>




{% endblock %}