{% extends 'paginas/modelo.html' %}
{% load static %}



{% block titulo %}
<title>Relatórios</title>
<link rel="icon" type="image/x-icon" href="{% static 'imagens/game-solid-26.png' %}">
{% endblock %}

{% block conteudo %}

<section class="home_content">
	<div class="conteudo_pagina">
		<div class="container" id="div-rela">

			<h2>Escolha uma data para ver o relatorios das Vendas</h2>
			<form method="POST" action="relatorios/produtos">

				{% csrf_token %}
				<select name="periodo" class="form-select" aria-label="Default select example">
					<option selected>Escolha uma data para o relatório</option>
					{% for data in data_caixa %}
					<option value="{{data.pk}}">{{data.periodo}}</option>
					{% endfor %}
				</select>
				<button class="btn btn-primary" id="btn-rel-venda" type="submit">Procurar</button>
			</form>




			<div id="div-desp">
				<h2>Escolha uma data para ver o relatorios de Despesas</h2>
				<form method="POST" action="relatorios/despesas">
					{% csrf_token %}
					<select name="periodo" class="form-select" aria-label="Default select example">
						<option selected>Escolha uma data para o relatório</option>
						{% for data in data_despesa %}
						<option value="{{data.pk}}">{{data.periodo}}</option>
						{% endfor %}
					</select>
					<button class="btn btn-primary" type="submit" id="btn-rel-desp">Procurar</button>
				</form>
			</div>


			<div id="div-cash">
				<h4>O valor atual do caixa é: <span id="cash">R$ {{cash |floatformat:2}}</span> </h4> 

				

				<form action="edit-caixa" method="POST">
					{% csrf_token %}
					<div class="input-group mb-3" id="cash-input">
						<span class="input-group-text">R$</span>
						<input type="number" name="new_caixa" class="form-control" aria-label="Amount (to the nearest dollar)">
						<span class="input-group-text">.00</span>
					  </div>
					  
					<button class="btn btn-primary" type="submit" id="btn-rel-cash">Alterar</button>
				</form>

			</div>




		</div>
	</div>




</section>


<!-- Jquery -->
<script src="https://code.jquery.com/jquery-3.6.1.min.js"
	integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>






{% endblock %}