{% extends 'paginas/modelo.html' %}
{% load static %}

{% block titulo %}
<title>Vendas</title>

<link rel="icon" type="image/x-icon" href="{% static 'imagens/game-solid-26.png' %}">




{% endblock %}

{% block conteudo %}
<style>

</style>

<section class="home_content">
    <div class="sales_content">
        <div class="sales_itens">
            
            <table class="table">
                <thead>
                    <tr>
                        <th>Código</th>
                        <th>Produto</th>
                        <th>Quantidade</th>
                    </tr>
                </thead>
                <tbody class="">

                    {% for venda in venda %}
                    <tr>
                        <td>{{ produto.id }}</td>
                        <td>{{ produto.nome_produto }}</td>
                        <td>{{ produto.quantidade_produto }}</td>
                        <td>
                            <a href="/delete_venda/{{ produto.id }}"
                            class="btn btn-outline-danger btn-sm"><box-icon name='trash'></box-icon></a>

                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                
                </tbody>
            </table>




        </div>

        <form class="sales_add" action="/add_venda" method="POST" autocomplete="off">
            {% csrf_token %}
            <div class="sales_add-labels">
                <label for="prod">Nome do Produto</label>
                <div>
                    <input type="text" name="nome_produto" id="prod" required/>
                </div>
            </div>
            <div class="sales_add-labels">
                <label for="cod">Código do Produto</label>
                <div>
                    <input type="text" name="id" id="cod" required/> 
                </div>
            </div>
            <div class="sales_add-labels">
                <label for="qtt">Quantidade</label>
                <div>
                    <input type="text" name="quantidade_produto" id="qtt" required/>
                </div>
            </div>
            <!-- <div class="sales_add-labels">
                <label for="total">Valor Total</label>
                <div>
                    <input type="text" name="" id="total" required/>
                </div>
            </div> -->
        
        
            <div class="sales_add-buttons">
                <button type="submit" class="btn btn-primary mt-3" id="botaoAdicionarItem" >Adicionar Item</button>
                <!-- <button type="submit" class="btn btn-primary mt-3">Finalizar Compras</button> -->
            </div>
        </form>
        

        <div class="sales_price">
            <div class="subtotal">
                <h2>Valor Total:</h2>
                <div class="value">R$ 500</div>
            </div>
            <div class="total">
                <h2>Valor Cliente:</h2>
                <div class="value">R$ 500</div>
            </div>
        </div>

    </div>


</section>









{% endblock %}
