{% extends 'paginas/modelo.html' %}
{% load static %}

{% block titulo %}
<title>Estoque</title>
<link rel="icon" type="image/x-icon" href="{% static 'imagens/game-solid-26.png' %}">
{% endblock %}

{% block conteudo %}

<div class="home_content">
    <div class="conteudo_pagina">

        <!-- data-bs-toggle="modal" data-bs-target="#staticBackdrop" -->
        <!-- Button trigger modal -->
        <!-- Button trigger modal -->
        <div class="col-8">

        </div>
        <!-- Modal -->
        <div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Adicione o produto</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        {% include 'cadastro/add.html' %}
                    </div>
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-striped" id="tabela_despesa_variavel">
                <tr>
                    <th>Código</th>
                    <th>Produto</th>
                    <th>Qntd.</th>
                    <th>Custo/Venda</th>
                    <th>Fornecedor</th>
                    <th>Data de Adição</th>
                    <th> <a type="button" data-bs-toggle="modal" data-bs-target="#addModal">
                            <box-icon name='list-plus'></box-icon>
                        </a></th>
                </tr>

                {% for produto in object_list %}


                <tr>
                    <td>{{ produto.pk }}</td>
                    <td>{{ produto.nome_produto }}</td>
                    <td>{{ produto.quantidade_produto }}</td>
                    <td>{{ produto.custo_venda }}</td>
                    <td>{{ produto.fornecedor }}</td>
                    <td>{{ produto.data_adicao }}</td>
                    <td><a type="button" data-bs-toggle="modal" data-bs-target="#editModal{{ produto.pk }}">
                            <box-icon name='edit'></box-icon>
                        </a><a type="button" href="estoque/deletar/{{ produto.id }}">
                            <box-icon name='trash'></box-icon>
                        </a></td>
                </tr>
                <div class="modal fade" id="editModal{{ produto.pk }}" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Editar</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                {% include 'cadastro/edit.html' %}
                            </div>
                        </div>
                    </div>
                </div>
                {% empty %}
                <tr>
                    <td colspan="3">Nenhum campo registrado</td>
                </tr>
            </table>


            {% endfor %}
        </div>
        <!-- <a href="">
            <box-icon name='list-plus'></box-icon>
        </a> -->
    </div>


    {% endblock %}