{% extends 'paginas/modelo.html' %}
{% load static %}

{% block titulo %}
<title>Gastos</title>
<link rel="icon" type="image/x-icon" href="{% static 'imagens/game-solid-26.png' %}">
{% endblock %}

{% block conteudo %}

<div class="home_content">
    <div class="conteudo_pagina">

        <div class="container">

            <br><br><br>

            <table class="table table-bordered" id="tabela_despesa_variavel" style="text-align: center ;">
                <thead class="table-success">
                    <tr>
                        <th>Despesa</th>
                        <th>Quantidade</th>
                        <th>Custo</th>
                        <th>Tipo de Gasto</th>
                        <th>Data de Atualização</th>
                    </tr>
                </thead>

                {% for despesa in despesa %}
                <tr>
                    <td>{{ despesa.nome_despesa }}</td>
                    <td>{{ despesa.quantidade_despesa }}</td>
                    <td>{{ despesa.custo }}</td>
                    <td>{{ despesa.tipo_gasto}}</td>
                    <td>{{ despesa.data_atualizacao }}</td>
                </tr>
                {% endfor %}
            </table>





        </div>











    </div>
</div>




{% endblock %}