{% extends 'paginas/modelo.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block titulo %}
<title>Registro</title>
<link rel="icon" href="{% static 'imagens/game-regular-25.png' %}">
{% endblock %}

{% block sidebar %}
{% endblock %}

{% block titulo_pagina %}
{% endblock %}

{% block conteudo %}
{% endblock %}

{% block login %}
<html class="login">


<section class="login_main">
    <div class="row">
        <box-icon name='game'></box-icon>
        <h3 class="login_title">
            <box-icon name='game'></box-icon>Prencha os campos necessários<box-icon name='game'></box-icon>
        </h3>

        <form action="" method="POST">

            {% csrf_token %}
            {{ form|crispy }}

            <div class="login_button-area">
                <button type="submit" class="btn btn-primary btn-block">Registrar</button>
            </div>

        </form>

    </div>
</section>

</html>








{% endblock %}